.main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #455763;
    border-radius: 10px;
    width: 400px;
   margin: 0 auto;
   margin: 0 auto 0 auto;
    text-align: center;
    border-bottom:6px solid #FECC63;
    font-family: 'Courier New', Courier, monospace; 


}
body{
    background: #2e3132;
    color: #FECC63;
    margin: 20px;
}
.avatar{
    width: 150px;
    margin-right: 10px;
}
